*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Oswald', sans-serif;
}
.app {
  height: 100vh;

}
/**
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1778px 1161px #fff, 16px 671px #fff, 854px 275px #fff,
    749px 932px #fff, 766px 624px #fff, 410px 257px #fff, 1930px 29px #fff,
    1820px 1931px #fff, 459px 15px #fff, 1871px 1202px #fff, 1658px 1318px #fff,
    1589px 568px #fff, 278px 1433px #fff, 646px 1810px #fff, 503px 1868px #fff,
    1805px 972px #fff, 1563px 1130px #fff, 1439px 91px #fff, 1924px 1629px #fff,
    1164px 1029px #fff, 648px 4px #fff, 567px 1948px #fff, 1485px 304px #fff,
    965px 1414px #fff, 105px 1180px #fff, 1217px 1245px #fff, 1225px 1488px #fff,
    1750px 1535px #fff, 610px 1454px #fff, 706px 1498px #fff, 1438px 1566px #fff,
    307px 870px #fff, 1083px 632px #fff, 218px 1789px #fff, 816px 283px #fff,
    1814px 57px #fff, 1957px 1656px #fff, 1319px 556px #fff, 984px 1511px #fff,
    715px 660px #fff, 152px 1195px #fff, 1615px 313px #fff, 1782px 403px #fff,
    67px 102px #fff, 202px 1834px #fff, 1010px 38px #fff, 47px 1171px #fff,
    1642px 1808px #fff, 1344px 611px #fff, 281px 1365px #fff, 189px 1888px #fff,
    989px 1481px #fff, 898px 1101px #fff, 478px 791px #fff, 558px 652px #fff,
    696px 1534px #fff, 584px 1478px #fff, 1994px 1999px #fff, 1318px 1411px #fff,
    642px 1406px #fff, 1267px 1974px #fff, 1748px 1741px #fff, 1465px 411px #fff,
    869px 1638px #fff, 121px 637px #fff, 1739px 668px #fff, 1435px 925px #fff,
    538px 1076px #fff, 603px 663px #fff, 38px 843px #fff, 860px 263px #fff,
    846px 166px #fff, 929px 382px #fff, 221px 1750px #fff, 143px 604px #fff,
    1587px 1769px #fff, 1998px 182px #fff, 1319px 1870px #fff,
    1579px 1088px #fff, 219px 909px #fff, 480px 1844px #fff, 1283px 794px #fff,
    1046px 1469px #fff, 1063px 1854px #fff, 441px 940px #fff, 641px 1495px #fff,
    623px 625px #fff, 1313px 679px #fff, 540px 881px #fff, 669px 798px #fff,
    113px 990px #fff, 452px 178px #fff, 1845px 851px #fff, 1829px 536px #fff,
    1676px 1431px #fff, 892px 678px #fff, 1780px 1392px #fff, 1877px 1601px #fff,
    1974px 1934px #fff, 235px 1957px #fff, 1758px 50px #fff, 1908px 1815px #fff,
    1511px 9px #fff, 1289px 1039px #fff, 1247px 1564px #fff, 1713px 1013px #fff,
    931px 1584px #fff, 1212px 995px #fff, 1374px 1966px #fff, 956px 1387px #fff,
    1823px 592px #fff, 323px 1310px #fff, 857px 1756px #fff, 993px 426px #fff,
    605px 1505px #fff, 137px 1395px #fff, 33px 608px #fff, 1564px 850px #fff,
    1547px 604px #fff, 1951px 1185px #fff, 848px 1791px #fff, 431px 164px #fff,
    391px 1915px #fff, 897px 1702px #fff, 1569px 1749px #fff, 147px 175px #fff,
    829px 1067px #fff, 863px 1435px #fff, 1826px 426px #fff, 1536px 1472px #fff,
    1702px 714px #fff, 835px 687px #fff, 1360px 1144px #fff, 1193px 206px #fff,
    988px 1411px #fff, 704px 802px #fff, 297px 515px #fff, 529px 839px #fff,
    1705px 89px #fff, 1273px 1615px #fff, 1176px 154px #fff, 1370px 1276px #fff,
    769px 529px #fff, 760px 1355px #fff, 894px 1518px #fff, 505px 481px #fff,
    262px 174px #fff, 1160px 1020px #fff, 1224px 1075px #fff, 483px 529px #fff,
    1074px 22px #fff, 423px 1856px #fff, 1112px 1906px #fff, 878px 69px #fff,
    1537px 714px #fff, 1635px 1021px #fff, 230px 234px #fff, 1496px 76px #fff,
    309px 1666px #fff, 1980px 138px #fff, 512px 946px #fff, 429px 960px #fff,
    1605px 870px #fff, 1882px 145px #fff, 1295px 1794px #fff, 927px 1877px #fff,
    237px 1715px #fff, 1151px 1585px #fff, 1432px 1560px #fff, 380px 975px #fff,
    305px 1793px #fff, 559px 956px #fff, 1817px 681px #fff, 740px 377px #fff,
    1387px 1769px #fff, 491px 1450px #fff, 1170px 1184px #fff, 1037px 289px #fff,
    825px 724px #fff, 853px 1083px #fff, 423px 1974px #fff, 374px 1542px #fff,
    129px 1551px #fff, 1595px 74px #fff, 1401px 1907px #fff, 381px 1998px #fff,
    497px 1836px #fff, 485px 301px #fff, 1266px 593px #fff, 1110px 945px #fff,
    739px 320px #fff, 1596px 43px #fff, 1457px 1723px #fff, 1893px 1538px #fff,
    1023px 198px #fff, 921px 1993px #fff, 533px 1976px #fff, 1922px 691px #fff,
    1185px 518px #fff, 669px 560px #fff, 1801px 741px #fff, 1243px 257px #fff,
    1357px 1535px #fff, 1989px 656px #fff, 1889px 690px #fff, 1359px 643px #fff,
    1049px 1409px #fff, 309px 757px #fff, 977px 464px #fff, 1467px 23px #fff,
    1334px 1664px #fff, 162px 889px #fff, 1637px 826px #fff, 246px 921px #fff,
    1618px 6px #fff, 1296px 676px #fff, 1712px 279px #fff, 1412px 1217px #fff,
    103px 1183px #fff, 1949px 1200px #fff, 1633px 1358px #fff, 695px 1532px #fff,
    357px 1337px #fff, 1412px 669px #fff, 1057px 898px #fff, 100px 1778px #fff,
    1830px 667px #fff, 1751px 1684px #fff, 353px 1656px #fff, 106px 817px #fff,
    1577px 1251px #fff, 1527px 1785px #fff, 515px 1247px #fff, 1812px 96px #fff,
    255px 726px #fff, 1455px 875px #fff, 1028px 423px #fff, 728px 618px #fff,
    1262px 600px #fff, 1104px 1304px #fff, 1749px 10px #fff, 1359px 275px #fff,
    1922px 750px #fff, 227px 1657px #fff, 1586px 582px #fff, 1462px 1049px #fff,
    982px 574px #fff, 336px 1704px #fff, 504px 1112px #fff, 517px 1949px #fff,
    122px 1905px #fff, 1273px 516px #fff, 1303px 1450px #fff, 1362px 978px #fff,
    64px 25px #fff, 42px 1185px #fff, 1572px 280px #fff, 1212px 295px #fff,
    1049px 334px #fff, 365px 876px #fff, 712px 438px #fff, 904px 1302px #fff,
    1131px 1747px #fff, 1557px 629px #fff, 433px 807px #fff, 1143px 859px #fff,
    1930px 1694px #fff, 1530px 1113px #fff, 1337px 375px #fff, 1378px 377px #fff,
    753px 1331px #fff, 1105px 91px #fff, 1459px 1923px #fff, 756px 1430px #fff,
    487px 1726px #fff, 1284px 486px #fff, 465px 550px #fff, 418px 1426px #fff,
    1918px 1350px #fff, 271px 163px #fff, 189px 432px #fff, 1121px 1104px #fff,
    1571px 1559px #fff, 908px 1525px #fff, 1609px 1887px #fff, 1545px 610px #fff,
    1440px 1633px #fff, 1782px 1112px #fff, 759px 1985px #fff,
    1009px 1508px #fff, 1794px 1734px #fff, 1579px 1477px #fff,
    1128px 823px #fff, 1740px 1282px #fff, 260px 604px #fff, 1786px 548px #fff,
    1935px 1891px #fff, 1688px 797px #fff, 329px 569px #fff, 44px 1826px #fff,
    1924px 629px #fff, 803px 700px #fff, 310px 1230px #fff, 1215px 1230px #fff,
    679px 1538px #fff, 1277px 163px #fff, 649px 778px #fff, 1718px 1429px #fff,
    1569px 1428px #fff, 1701px 1180px #fff, 322px 1934px #fff,
    1683px 1377px #fff, 446px 1193px #fff, 850px 912px #fff, 1933px 473px #fff,
    1194px 116px #fff, 226px 593px #fff, 1728px 878px #fff, 1886px 1420px #fff,
    1448px 1978px #fff, 1798px 785px #fff, 837px 754px #fff, 1812px 1964px #fff,
    148px 1736px #fff, 1185px 951px #fff, 537px 1854px #fff, 1435px 521px #fff,
    1686px 327px #fff, 859px 1848px #fff, 315px 254px #fff, 1490px 1279px #fff,
    1337px 158px #fff, 1442px 1350px #fff, 32px 1544px #fff, 759px 266px #fff,
    1531px 1047px #fff, 1071px 1952px #fff, 1205px 1579px #fff,
    1731px 1315px #fff, 1059px 496px #fff, 1736px 1475px #fff, 947px 1427px #fff,
    1672px 1191px #fff, 70px 241px #fff, 1904px 1198px #fff, 33px 1386px #fff,
    1279px 1913px #fff, 212px 942px #fff, 1443px 1180px #fff, 433px 1546px #fff,
    175px 1566px #fff, 393px 998px #fff, 367px 1218px #fff, 596px 692px #fff,
    280px 1934px #fff, 437px 1988px #fff, 1246px 159px #fff, 1921px 1848px #fff,
    319px 620px #fff, 900px 716px #fff, 114px 1263px #fff, 210px 1095px #fff,
    1518px 413px #fff, 1484px 1604px #fff, 1341px 559px #fff, 1013px 92px #fff,
    439px 996px #fff, 500px 1472px #fff, 1701px 1845px #fff, 1024px 965px #fff,
    433px 420px #fff, 1007px 1124px #fff, 818px 889px #fff, 1857px 1315px #fff,
    1634px 657px #fff, 520px 1237px #fff, 1305px 1394px #fff, 799px 1102px #fff,
    1466px 436px #fff, 1109px 1005px #fff, 1976px 649px #fff, 290px 1606px #fff,
    355px 1874px #fff, 1677px 1817px #fff, 510px 1509px #fff, 1652px 222px #fff,
    63px 834px #fff, 1063px 133px #fff, 1782px 1526px #fff, 1153px 1839px #fff,
    1260px 1961px #fff, 6px 311px #fff, 111px 511px #fff, 1653px 500px #fff,
    887px 1087px #fff, 1551px 1010px #fff, 153px 1290px #fff, 645px 136px #fff,
    1909px 1029px #fff, 1779px 1951px #fff, 415px 1857px #fff, 1939px 635px #fff,
    50px 1995px #fff, 1091px 1790px #fff, 1233px 808px #fff, 1866px 1694px #fff,
    1117px 237px #fff, 1308px 493px #fff, 432px 367px #fff, 362px 1840px #fff,
    968px 1236px #fff, 713px 1573px #fff, 825px 719px #fff, 54px 872px #fff,
    317px 1611px #fff, 1716px 1882px #fff, 539px 1912px #fff, 1264px 154px #fff,
    1184px 9px #fff, 348px 838px #fff, 179px 1001px #fff, 1548px 566px #fff,
    377px 1444px #fff, 519px 303px #fff, 1423px 1306px #fff, 1012px 1711px #fff,
    563px 379px #fff, 1955px 401px #fff, 1874px 489px #fff, 526px 1744px #fff,
    1853px 1699px #fff, 1747px 1704px #fff, 536px 1893px #fff, 1004px 313px #fff,
    142px 1312px #fff, 412px 728px #fff, 1344px 649px #fff, 1593px 653px #fff,
    540px 393px #fff, 607px 1077px #fff, 157px 1167px #fff, 1590px 1849px #fff,
    897px 973px #fff, 1324px 251px #fff, 701px 230px #fff, 899px 1172px #fff,
    1836px 201px #fff, 462px 194px #fff, 520px 1229px #fff, 1769px 66px #fff,
    1643px 1652px #fff, 1838px 876px #fff, 1239px 382px #fff, 117px 618px #fff,
    1158px 1758px #fff, 1208px 1334px #fff, 1200px 81px #fff, 521px 1251px #fff,
    1953px 1323px #fff, 461px 1521px #fff, 1751px 1119px #fff, 390px 1256px #fff,
    1817px 1740px #fff, 57px 1300px #fff, 392px 1235px #fff, 1732px 891px #fff,
    147px 1407px #fff, 404px 1037px #fff, 1805px 1351px #fff, 574px 228px #fff,
    23px 110px #fff, 1383px 834px #fff, 1865px 1473px #fff, 1567px 113px #fff,
    1890px 1936px #fff, 1811px 1398px #fff, 1327px 92px #fff, 1218px 1832px #fff,
    1599px 1606px #fff, 1487px 1276px #fff, 1852px 720px #fff, 887px 1770px #fff,
    169px 1898px #fff, 1556px 576px #fff, 824px 1228px #fff, 126px 1384px #fff,
    1651px 1836px #fff, 1788px 1719px #fff, 1984px 1373px #fff,
    1958px 1951px #fff, 810px 587px #fff, 904px 1025px #fff, 396px 309px #fff,
    1513px 1864px #fff, 1311px 981px #fff, 469px 1032px #fff, 1568px 76px #fff,
    436px 1095px #fff, 1696px 1265px #fff, 1357px 1495px #fff, 1294px 632px #fff,
    1000px 1756px #fff, 1090px 578px #fff, 1507px 1041px #fff, 1316px 968px #fff,
    976px 1954px #fff, 1010px 352px #fff, 1482px 1857px #fff, 668px 677px #fff,
    430px 703px #fff, 208px 1769px #fff, 1152px 516px #fff, 1705px 1724px #fff,
    1181px 1495px #fff, 281px 70px #fff, 1215px 1743px #fff, 1541px 339px #fff,
    292px 1413px #fff, 1284px 394px #fff, 764px 563px #fff, 544px 924px #fff,
    367px 1848px #fff, 1113px 1462px #fff, 772px 1850px #fff, 4px 569px #fff,
    1166px 1821px #fff, 1495px 852px #fff, 454px 1112px #fff, 1784px 1829px #fff,
    1496px 828px #fff, 925px 835px #fff, 898px 1067px #fff, 573px 556px #fff,
    1570px 767px #fff, 1100px 155px #fff, 306px 1339px #fff, 1693px 1829px #fff,
    1095px 1557px #fff, 1894px 1885px #fff, 1486px 1069px #fff,
    1140px 574px #fff, 1539px 373px #fff, 859px 543px #fff, 1602px 1478px #fff,
    1444px 1673px #fff, 321px 293px #fff, 238px 991px #fff, 1125px 1080px #fff,
    164px 575px #fff, 1260px 769px #fff, 824px 795px #fff, 1859px 1446px #fff,
    1884px 751px #fff, 82px 1900px #fff, 939px 1552px #fff, 1848px 1454px #fff,
    156px 92px #fff, 171px 701px #fff, 1191px 1168px #fff, 1316px 753px #fff,
    1990px 1751px #fff, 1746px 1221px #fff, 705px 365px #fff, 1137px 1508px #fff,
    1364px 1792px #fff, 1787px 1239px #fff, 1598px 182px #fff,
    1588px 1826px #fff, 1653px 940px #fff, 1880px 841px #fff, 787px 1913px #fff,
    1376px 1110px #fff, 516px 327px #fff, 146px 1794px #fff, 1989px 636px #fff,
    311px 1808px #fff, 1573px 104px #fff, 1598px 464px #fff, 1851px 1585px #fff,
    1493px 749px #fff, 1698px 1431px #fff, 1131px 472px #fff, 1908px 1868px #fff,
    1881px 193px #fff, 1366px 249px #fff, 160px 292px #fff, 670px 165px #fff,
    74px 920px #fff, 1966px 1698px #fff, 1067px 1430px #fff, 1829px 529px #fff,
    1298px 1444px #fff, 1659px 657px #fff, 202px 125px #fff, 1096px 1483px #fff,
    923px 959px #fff, 130px 1063px #fff, 912px 1863px #fff, 471px 1012px #fff,
    789px 894px #fff, 898px 1094px #fff, 1733px 1154px #fff, 952px 1203px #fff,
    1607px 1265px #fff, 1819px 542px #fff, 520px 98px #fff, 1126px 1734px #fff,
    1322px 904px #fff, 1823px 43px #fff, 882px 1983px #fff, 1885px 960px #fff,
    1112px 1762px #fff, 794px 769px #fff, 1535px 734px #fff, 755px 494px #fff,
    894px 581px #fff, 955px 1205px #fff, 1426px 1628px #fff, 1192px 576px #fff,
    863px 936px #fff, 1127px 1420px #fff, 478px 1783px #fff, 1623px 1441px #fff,
    1532px 162px #fff, 1336px 89px #fff, 1941px 1320px #fff, 1357px 606px #fff,
    1017px 815px #fff, 1802px 496px #fff, 1051px 1376px #fff, 1267px 80px #fff,
    809px 1180px #fff, 68px 375px #fff, 442px 1799px #fff, 1962px 1476px #fff,
    448px 1299px #fff, 817px 67px #fff, 161px 1061px #fff, 334px 1145px #fff,
    1664px 1020px #fff, 522px 1311px #fff, 1766px 1738px #fff, 868px 587px #fff,
    506px 140px #fff, 1836px 481px #fff, 1282px 1517px #fff, 1312px 32px #fff,
    1108px 278px #fff, 755px 732px #fff, 1806px 1221px #fff, 1989px 611px #fff,
    1540px 1798px #fff, 230px 1315px #fff, 1006px 1186px #fff,
    1828px 1810px #fff, 614px 1709px #fff, 860px 276px #fff, 753px 1432px #fff,
    1585px 1661px #fff, 763px 135px #fff, 1352px 1188px #fff, 1569px 689px #fff,
    940px 454px #fff, 1561px 1712px #fff, 883px 294px #fff, 1351px 415px #fff,
    408px 1082px #fff, 592px 787px #fff, 1089px 1354px #fff, 528px 1758px #fff,
    1138px 700px #fff, 774px 197px #fff, 1599px 1794px #fff, 1616px 1850px #fff,
    1037px 372px #fff, 1532px 1507px #fff, 256px 705px #fff, 1498px 897px #fff,
    1755px 122px #fff, 1192px 76px #fff, 1345px 1006px #fff, 570px 924px #fff,
    1099px 696px #fff, 1510px 1967px #fff, 411px 218px #fff, 857px 1109px #fff,
    1848px 514px #fff, 550px 1529px #fff, 1395px 1750px #fff, 1722px 1322px #fff,
    170px 1435px #fff, 611px 76px #fff, 1445px 1022px #fff, 624px 1156px #fff,
    1021px 1656px #fff, 1906px 1824px #fff, 518px 93px #fff, 1740px 308px #fff,
    580px 1646px #fff, 495px 1044px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1778px 1161px #fff, 16px 671px #fff, 854px 275px #fff,
    749px 932px #fff, 766px 624px #fff, 410px 257px #fff, 1930px 29px #fff,
    1820px 1931px #fff, 459px 15px #fff, 1871px 1202px #fff, 1658px 1318px #fff,
    1589px 568px #fff, 278px 1433px #fff, 646px 1810px #fff, 503px 1868px #fff,
    1805px 972px #fff, 1563px 1130px #fff, 1439px 91px #fff, 1924px 1629px #fff,
    1164px 1029px #fff, 648px 4px #fff, 567px 1948px #fff, 1485px 304px #fff,
    965px 1414px #fff, 105px 1180px #fff, 1217px 1245px #fff, 1225px 1488px #fff,
    1750px 1535px #fff, 610px 1454px #fff, 706px 1498px #fff, 1438px 1566px #fff,
    307px 870px #fff, 1083px 632px #fff, 218px 1789px #fff, 816px 283px #fff,
    1814px 57px #fff, 1957px 1656px #fff, 1319px 556px #fff, 984px 1511px #fff,
    715px 660px #fff, 152px 1195px #fff, 1615px 313px #fff, 1782px 403px #fff,
    67px 102px #fff, 202px 1834px #fff, 1010px 38px #fff, 47px 1171px #fff,
    1642px 1808px #fff, 1344px 611px #fff, 281px 1365px #fff, 189px 1888px #fff,
    989px 1481px #fff, 898px 1101px #fff, 478px 791px #fff, 558px 652px #fff,
    696px 1534px #fff, 584px 1478px #fff, 1994px 1999px #fff, 1318px 1411px #fff,
    642px 1406px #fff, 1267px 1974px #fff, 1748px 1741px #fff, 1465px 411px #fff,
    869px 1638px #fff, 121px 637px #fff, 1739px 668px #fff, 1435px 925px #fff,
    538px 1076px #fff, 603px 663px #fff, 38px 843px #fff, 860px 263px #fff,
    846px 166px #fff, 929px 382px #fff, 221px 1750px #fff, 143px 604px #fff,
    1587px 1769px #fff, 1998px 182px #fff, 1319px 1870px #fff,
    1579px 1088px #fff, 219px 909px #fff, 480px 1844px #fff, 1283px 794px #fff,
    1046px 1469px #fff, 1063px 1854px #fff, 441px 940px #fff, 641px 1495px #fff,
    623px 625px #fff, 1313px 679px #fff, 540px 881px #fff, 669px 798px #fff,
    113px 990px #fff, 452px 178px #fff, 1845px 851px #fff, 1829px 536px #fff,
    1676px 1431px #fff, 892px 678px #fff, 1780px 1392px #fff, 1877px 1601px #fff,
    1974px 1934px #fff, 235px 1957px #fff, 1758px 50px #fff, 1908px 1815px #fff,
    1511px 9px #fff, 1289px 1039px #fff, 1247px 1564px #fff, 1713px 1013px #fff,
    931px 1584px #fff, 1212px 995px #fff, 1374px 1966px #fff, 956px 1387px #fff,
    1823px 592px #fff, 323px 1310px #fff, 857px 1756px #fff, 993px 426px #fff,
    605px 1505px #fff, 137px 1395px #fff, 33px 608px #fff, 1564px 850px #fff,
    1547px 604px #fff, 1951px 1185px #fff, 848px 1791px #fff, 431px 164px #fff,
    391px 1915px #fff, 897px 1702px #fff, 1569px 1749px #fff, 147px 175px #fff,
    829px 1067px #fff, 863px 1435px #fff, 1826px 426px #fff, 1536px 1472px #fff,
    1702px 714px #fff, 835px 687px #fff, 1360px 1144px #fff, 1193px 206px #fff,
    988px 1411px #fff, 704px 802px #fff, 297px 515px #fff, 529px 839px #fff,
    1705px 89px #fff, 1273px 1615px #fff, 1176px 154px #fff, 1370px 1276px #fff,
    769px 529px #fff, 760px 1355px #fff, 894px 1518px #fff, 505px 481px #fff,
    262px 174px #fff, 1160px 1020px #fff, 1224px 1075px #fff, 483px 529px #fff,
    1074px 22px #fff, 423px 1856px #fff, 1112px 1906px #fff, 878px 69px #fff,
    1537px 714px #fff, 1635px 1021px #fff, 230px 234px #fff, 1496px 76px #fff,
    309px 1666px #fff, 1980px 138px #fff, 512px 946px #fff, 429px 960px #fff,
    1605px 870px #fff, 1882px 145px #fff, 1295px 1794px #fff, 927px 1877px #fff,
    237px 1715px #fff, 1151px 1585px #fff, 1432px 1560px #fff, 380px 975px #fff,
    305px 1793px #fff, 559px 956px #fff, 1817px 681px #fff, 740px 377px #fff,
    1387px 1769px #fff, 491px 1450px #fff, 1170px 1184px #fff, 1037px 289px #fff,
    825px 724px #fff, 853px 1083px #fff, 423px 1974px #fff, 374px 1542px #fff,
    129px 1551px #fff, 1595px 74px #fff, 1401px 1907px #fff, 381px 1998px #fff,
    497px 1836px #fff, 485px 301px #fff, 1266px 593px #fff, 1110px 945px #fff,
    739px 320px #fff, 1596px 43px #fff, 1457px 1723px #fff, 1893px 1538px #fff,
    1023px 198px #fff, 921px 1993px #fff, 533px 1976px #fff, 1922px 691px #fff,
    1185px 518px #fff, 669px 560px #fff, 1801px 741px #fff, 1243px 257px #fff,
    1357px 1535px #fff, 1989px 656px #fff, 1889px 690px #fff, 1359px 643px #fff,
    1049px 1409px #fff, 309px 757px #fff, 977px 464px #fff, 1467px 23px #fff,
    1334px 1664px #fff, 162px 889px #fff, 1637px 826px #fff, 246px 921px #fff,
    1618px 6px #fff, 1296px 676px #fff, 1712px 279px #fff, 1412px 1217px #fff,
    103px 1183px #fff, 1949px 1200px #fff, 1633px 1358px #fff, 695px 1532px #fff,
    357px 1337px #fff, 1412px 669px #fff, 1057px 898px #fff, 100px 1778px #fff,
    1830px 667px #fff, 1751px 1684px #fff, 353px 1656px #fff, 106px 817px #fff,
    1577px 1251px #fff, 1527px 1785px #fff, 515px 1247px #fff, 1812px 96px #fff,
    255px 726px #fff, 1455px 875px #fff, 1028px 423px #fff, 728px 618px #fff,
    1262px 600px #fff, 1104px 1304px #fff, 1749px 10px #fff, 1359px 275px #fff,
    1922px 750px #fff, 227px 1657px #fff, 1586px 582px #fff, 1462px 1049px #fff,
    982px 574px #fff, 336px 1704px #fff, 504px 1112px #fff, 517px 1949px #fff,
    122px 1905px #fff, 1273px 516px #fff, 1303px 1450px #fff, 1362px 978px #fff,
    64px 25px #fff, 42px 1185px #fff, 1572px 280px #fff, 1212px 295px #fff,
    1049px 334px #fff, 365px 876px #fff, 712px 438px #fff, 904px 1302px #fff,
    1131px 1747px #fff, 1557px 629px #fff, 433px 807px #fff, 1143px 859px #fff,
    1930px 1694px #fff, 1530px 1113px #fff, 1337px 375px #fff, 1378px 377px #fff,
    753px 1331px #fff, 1105px 91px #fff, 1459px 1923px #fff, 756px 1430px #fff,
    487px 1726px #fff, 1284px 486px #fff, 465px 550px #fff, 418px 1426px #fff,
    1918px 1350px #fff, 271px 163px #fff, 189px 432px #fff, 1121px 1104px #fff,
    1571px 1559px #fff, 908px 1525px #fff, 1609px 1887px #fff, 1545px 610px #fff,
    1440px 1633px #fff, 1782px 1112px #fff, 759px 1985px #fff,
    1009px 1508px #fff, 1794px 1734px #fff, 1579px 1477px #fff,
    1128px 823px #fff, 1740px 1282px #fff, 260px 604px #fff, 1786px 548px #fff,
    1935px 1891px #fff, 1688px 797px #fff, 329px 569px #fff, 44px 1826px #fff,
    1924px 629px #fff, 803px 700px #fff, 310px 1230px #fff, 1215px 1230px #fff,
    679px 1538px #fff, 1277px 163px #fff, 649px 778px #fff, 1718px 1429px #fff,
    1569px 1428px #fff, 1701px 1180px #fff, 322px 1934px #fff,
    1683px 1377px #fff, 446px 1193px #fff, 850px 912px #fff, 1933px 473px #fff,
    1194px 116px #fff, 226px 593px #fff, 1728px 878px #fff, 1886px 1420px #fff,
    1448px 1978px #fff, 1798px 785px #fff, 837px 754px #fff, 1812px 1964px #fff,
    148px 1736px #fff, 1185px 951px #fff, 537px 1854px #fff, 1435px 521px #fff,
    1686px 327px #fff, 859px 1848px #fff, 315px 254px #fff, 1490px 1279px #fff,
    1337px 158px #fff, 1442px 1350px #fff, 32px 1544px #fff, 759px 266px #fff,
    1531px 1047px #fff, 1071px 1952px #fff, 1205px 1579px #fff,
    1731px 1315px #fff, 1059px 496px #fff, 1736px 1475px #fff, 947px 1427px #fff,
    1672px 1191px #fff, 70px 241px #fff, 1904px 1198px #fff, 33px 1386px #fff,
    1279px 1913px #fff, 212px 942px #fff, 1443px 1180px #fff, 433px 1546px #fff,
    175px 1566px #fff, 393px 998px #fff, 367px 1218px #fff, 596px 692px #fff,
    280px 1934px #fff, 437px 1988px #fff, 1246px 159px #fff, 1921px 1848px #fff,
    319px 620px #fff, 900px 716px #fff, 114px 1263px #fff, 210px 1095px #fff,
    1518px 413px #fff, 1484px 1604px #fff, 1341px 559px #fff, 1013px 92px #fff,
    439px 996px #fff, 500px 1472px #fff, 1701px 1845px #fff, 1024px 965px #fff,
    433px 420px #fff, 1007px 1124px #fff, 818px 889px #fff, 1857px 1315px #fff,
    1634px 657px #fff, 520px 1237px #fff, 1305px 1394px #fff, 799px 1102px #fff,
    1466px 436px #fff, 1109px 1005px #fff, 1976px 649px #fff, 290px 1606px #fff,
    355px 1874px #fff, 1677px 1817px #fff, 510px 1509px #fff, 1652px 222px #fff,
    63px 834px #fff, 1063px 133px #fff, 1782px 1526px #fff, 1153px 1839px #fff,
    1260px 1961px #fff, 6px 311px #fff, 111px 511px #fff, 1653px 500px #fff,
    887px 1087px #fff, 1551px 1010px #fff, 153px 1290px #fff, 645px 136px #fff,
    1909px 1029px #fff, 1779px 1951px #fff, 415px 1857px #fff, 1939px 635px #fff,
    50px 1995px #fff, 1091px 1790px #fff, 1233px 808px #fff, 1866px 1694px #fff,
    1117px 237px #fff, 1308px 493px #fff, 432px 367px #fff, 362px 1840px #fff,
    968px 1236px #fff, 713px 1573px #fff, 825px 719px #fff, 54px 872px #fff,
    317px 1611px #fff, 1716px 1882px #fff, 539px 1912px #fff, 1264px 154px #fff,
    1184px 9px #fff, 348px 838px #fff, 179px 1001px #fff, 1548px 566px #fff,
    377px 1444px #fff, 519px 303px #fff, 1423px 1306px #fff, 1012px 1711px #fff,
    563px 379px #fff, 1955px 401px #fff, 1874px 489px #fff, 526px 1744px #fff,
    1853px 1699px #fff, 1747px 1704px #fff, 536px 1893px #fff, 1004px 313px #fff,
    142px 1312px #fff, 412px 728px #fff, 1344px 649px #fff, 1593px 653px #fff,
    540px 393px #fff, 607px 1077px #fff, 157px 1167px #fff, 1590px 1849px #fff,
    897px 973px #fff, 1324px 251px #fff, 701px 230px #fff, 899px 1172px #fff,
    1836px 201px #fff, 462px 194px #fff, 520px 1229px #fff, 1769px 66px #fff,
    1643px 1652px #fff, 1838px 876px #fff, 1239px 382px #fff, 117px 618px #fff,
    1158px 1758px #fff, 1208px 1334px #fff, 1200px 81px #fff, 521px 1251px #fff,
    1953px 1323px #fff, 461px 1521px #fff, 1751px 1119px #fff, 390px 1256px #fff,
    1817px 1740px #fff, 57px 1300px #fff, 392px 1235px #fff, 1732px 891px #fff,
    147px 1407px #fff, 404px 1037px #fff, 1805px 1351px #fff, 574px 228px #fff,
    23px 110px #fff, 1383px 834px #fff, 1865px 1473px #fff, 1567px 113px #fff,
    1890px 1936px #fff, 1811px 1398px #fff, 1327px 92px #fff, 1218px 1832px #fff,
    1599px 1606px #fff, 1487px 1276px #fff, 1852px 720px #fff, 887px 1770px #fff,
    169px 1898px #fff, 1556px 576px #fff, 824px 1228px #fff, 126px 1384px #fff,
    1651px 1836px #fff, 1788px 1719px #fff, 1984px 1373px #fff,
    1958px 1951px #fff, 810px 587px #fff, 904px 1025px #fff, 396px 309px #fff,
    1513px 1864px #fff, 1311px 981px #fff, 469px 1032px #fff, 1568px 76px #fff,
    436px 1095px #fff, 1696px 1265px #fff, 1357px 1495px #fff, 1294px 632px #fff,
    1000px 1756px #fff, 1090px 578px #fff, 1507px 1041px #fff, 1316px 968px #fff,
    976px 1954px #fff, 1010px 352px #fff, 1482px 1857px #fff, 668px 677px #fff,
    430px 703px #fff, 208px 1769px #fff, 1152px 516px #fff, 1705px 1724px #fff,
    1181px 1495px #fff, 281px 70px #fff, 1215px 1743px #fff, 1541px 339px #fff,
    292px 1413px #fff, 1284px 394px #fff, 764px 563px #fff, 544px 924px #fff,
    367px 1848px #fff, 1113px 1462px #fff, 772px 1850px #fff, 4px 569px #fff,
    1166px 1821px #fff, 1495px 852px #fff, 454px 1112px #fff, 1784px 1829px #fff,
    1496px 828px #fff, 925px 835px #fff, 898px 1067px #fff, 573px 556px #fff,
    1570px 767px #fff, 1100px 155px #fff, 306px 1339px #fff, 1693px 1829px #fff,
    1095px 1557px #fff, 1894px 1885px #fff, 1486px 1069px #fff,
    1140px 574px #fff, 1539px 373px #fff, 859px 543px #fff, 1602px 1478px #fff,
    1444px 1673px #fff, 321px 293px #fff, 238px 991px #fff, 1125px 1080px #fff,
    164px 575px #fff, 1260px 769px #fff, 824px 795px #fff, 1859px 1446px #fff,
    1884px 751px #fff, 82px 1900px #fff, 939px 1552px #fff, 1848px 1454px #fff,
    156px 92px #fff, 171px 701px #fff, 1191px 1168px #fff, 1316px 753px #fff,
    1990px 1751px #fff, 1746px 1221px #fff, 705px 365px #fff, 1137px 1508px #fff,
    1364px 1792px #fff, 1787px 1239px #fff, 1598px 182px #fff,
    1588px 1826px #fff, 1653px 940px #fff, 1880px 841px #fff, 787px 1913px #fff,
    1376px 1110px #fff, 516px 327px #fff, 146px 1794px #fff, 1989px 636px #fff,
    311px 1808px #fff, 1573px 104px #fff, 1598px 464px #fff, 1851px 1585px #fff,
    1493px 749px #fff, 1698px 1431px #fff, 1131px 472px #fff, 1908px 1868px #fff,
    1881px 193px #fff, 1366px 249px #fff, 160px 292px #fff, 670px 165px #fff,
    74px 920px #fff, 1966px 1698px #fff, 1067px 1430px #fff, 1829px 529px #fff,
    1298px 1444px #fff, 1659px 657px #fff, 202px 125px #fff, 1096px 1483px #fff,
    923px 959px #fff, 130px 1063px #fff, 912px 1863px #fff, 471px 1012px #fff,
    789px 894px #fff, 898px 1094px #fff, 1733px 1154px #fff, 952px 1203px #fff,
    1607px 1265px #fff, 1819px 542px #fff, 520px 98px #fff, 1126px 1734px #fff,
    1322px 904px #fff, 1823px 43px #fff, 882px 1983px #fff, 1885px 960px #fff,
    1112px 1762px #fff, 794px 769px #fff, 1535px 734px #fff, 755px 494px #fff,
    894px 581px #fff, 955px 1205px #fff, 1426px 1628px #fff, 1192px 576px #fff,
    863px 936px #fff, 1127px 1420px #fff, 478px 1783px #fff, 1623px 1441px #fff,
    1532px 162px #fff, 1336px 89px #fff, 1941px 1320px #fff, 1357px 606px #fff,
    1017px 815px #fff, 1802px 496px #fff, 1051px 1376px #fff, 1267px 80px #fff,
    809px 1180px #fff, 68px 375px #fff, 442px 1799px #fff, 1962px 1476px #fff,
    448px 1299px #fff, 817px 67px #fff, 161px 1061px #fff, 334px 1145px #fff,
    1664px 1020px #fff, 522px 1311px #fff, 1766px 1738px #fff, 868px 587px #fff,
    506px 140px #fff, 1836px 481px #fff, 1282px 1517px #fff, 1312px 32px #fff,
    1108px 278px #fff, 755px 732px #fff, 1806px 1221px #fff, 1989px 611px #fff,
    1540px 1798px #fff, 230px 1315px #fff, 1006px 1186px #fff,
    1828px 1810px #fff, 614px 1709px #fff, 860px 276px #fff, 753px 1432px #fff,
    1585px 1661px #fff, 763px 135px #fff, 1352px 1188px #fff, 1569px 689px #fff,
    940px 454px #fff, 1561px 1712px #fff, 883px 294px #fff, 1351px 415px #fff,
    408px 1082px #fff, 592px 787px #fff, 1089px 1354px #fff, 528px 1758px #fff,
    1138px 700px #fff, 774px 197px #fff, 1599px 1794px #fff, 1616px 1850px #fff,
    1037px 372px #fff, 1532px 1507px #fff, 256px 705px #fff, 1498px 897px #fff,
    1755px 122px #fff, 1192px 76px #fff, 1345px 1006px #fff, 570px 924px #fff,
    1099px 696px #fff, 1510px 1967px #fff, 411px 218px #fff, 857px 1109px #fff,
    1848px 514px #fff, 550px 1529px #fff, 1395px 1750px #fff, 1722px 1322px #fff,
    170px 1435px #fff, 611px 76px #fff, 1445px 1022px #fff, 624px 1156px #fff,
    1021px 1656px #fff, 1906px 1824px #fff, 518px 93px #fff, 1740px 308px #fff,
    580px 1646px #fff, 495px 1044px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 629px 1570px #fff, 78px 683px #fff, 400px 1958px #fff,
    368px 5px #fff, 1230px 526px #fff, 837px 470px #fff, 1153px 1282px #fff,
    1882px 1148px #fff, 1629px 807px #fff, 1357px 202px #fff, 555px 1697px #fff,
    1510px 133px #fff, 765px 1166px #fff, 483px 440px #fff, 1141px 1798px #fff,
    407px 592px #fff, 512px 583px #fff, 1198px 43px #fff, 1517px 776px #fff,
    1024px 685px #fff, 1398px 500px #fff, 933px 738px #fff, 54px 778px #fff,
    1097px 619px #fff, 66px 834px #fff, 527px 1998px #fff, 720px 1490px #fff,
    729px 1942px #fff, 964px 399px #fff, 1763px 1906px #fff, 1641px 1031px #fff,
    928px 1255px #fff, 492px 1641px #fff, 1562px 1998px #fff, 900px 369px #fff,
    712px 941px #fff, 1582px 979px #fff, 1284px 457px #fff, 231px 1307px #fff,
    876px 69px #fff, 1083px 155px #fff, 1917px 323px #fff, 1611px 1183px #fff,
    1764px 1967px #fff, 57px 1232px #fff, 1792px 768px #fff, 219px 1433px #fff,
    233px 1983px #fff, 461px 158px #fff, 216px 1136px #fff, 909px 401px #fff,
    1973px 1825px #fff, 901px 1616px #fff, 617px 326px #fff, 184px 1503px #fff,
    1572px 1265px #fff, 709px 809px #fff, 1107px 134px #fff, 171px 346px #fff,
    14px 861px #fff, 1231px 800px #fff, 336px 1784px #fff, 1409px 542px #fff,
    201px 268px #fff, 798px 1254px #fff, 1053px 90px #fff, 653px 1126px #fff,
    117px 1510px #fff, 1020px 1699px #fff, 969px 447px #fff, 764px 690px #fff,
    332px 753px #fff, 988px 282px #fff, 1092px 944px #fff, 1166px 427px #fff,
    1573px 689px #fff, 863px 1975px #fff, 1959px 1983px #fff, 1522px 1370px #fff,
    67px 38px #fff, 1996px 223px #fff, 146px 1431px #fff, 114px 465px #fff,
    363px 1651px #fff, 892px 1111px #fff, 611px 996px #fff, 1664px 630px #fff,
    63px 834px #fff, 8px 1136px #fff, 554px 123px #fff, 822px 760px #fff,
    423px 42px #fff, 1229px 536px #fff, 234px 1905px #fff, 1218px 937px #fff,
    134px 918px #fff, 836px 15px #fff, 96px 402px #fff, 654px 881px #fff,
    726px 1309px #fff, 814px 1625px #fff, 1433px 1636px #fff, 421px 574px #fff,
    200px 1976px #fff, 1888px 1287px #fff, 639px 1111px #fff, 1502px 1208px #fff,
    1489px 1226px #fff, 1731px 1714px #fff, 1865px 1055px #fff,
    1946px 1256px #fff, 1233px 747px #fff, 73px 1408px #fff, 235px 2000px #fff,
    1480px 932px #fff, 967px 824px #fff, 662px 1146px #fff, 344px 522px #fff,
    967px 494px #fff, 176px 220px #fff, 1715px 1042px #fff, 347px 1007px #fff,
    1603px 10px #fff, 271px 101px #fff, 1412px 1943px #fff, 340px 1184px #fff,
    63px 1793px #fff, 1461px 1235px #fff, 339px 1024px #fff, 708px 1741px #fff,
    1833px 1678px #fff, 1393px 577px #fff, 1236px 1089px #fff,
    1672px 1718px #fff, 1363px 466px #fff, 1209px 1632px #fff, 1614px 264px #fff,
    1597px 680px #fff, 76px 1339px #fff, 1029px 1579px #fff, 1413px 1119px #fff,
    1359px 924px #fff, 1400px 1293px #fff, 410px 542px #fff, 1295px 364px #fff,
    554px 890px #fff, 762px 61px #fff, 1732px 188px #fff, 852px 401px #fff,
    1017px 1817px #fff, 1758px 173px #fff, 1951px 1306px #fff,
    1716px 1294px #fff, 1688px 1358px #fff, 1443px 21px #fff, 1836px 1290px #fff,
    562px 1345px #fff, 1042px 1748px #fff, 1980px 281px #fff, 1152px 930px #fff,
    1644px 675px #fff, 1661px 919px #fff, 1155px 872px #fff, 1027px 1281px #fff,
    45px 186px #fff, 1684px 1417px #fff, 420px 1786px #fff, 1690px 1795px #fff,
    1452px 648px #fff, 430px 1717px #fff, 1969px 804px #fff, 1760px 1246px #fff,
    1779px 1932px #fff, 1873px 1908px #fff, 1293px 230px #fff, 406px 86px #fff,
    1935px 793px #fff, 1502px 449px #fff, 166px 1791px #fff, 1153px 1103px #fff,
    1724px 445px #fff, 1014px 1823px #fff, 676px 1069px #fff, 1912px 1669px #fff,
    1169px 316px #fff, 1408px 645px #fff, 233px 893px #fff, 1167px 587px #fff,
    1957px 1161px #fff, 628px 815px #fff, 1347px 719px #fff, 1931px 1062px #fff,
    1428px 1333px #fff, 353px 1701px #fff, 1329px 1398px #fff, 1857px 984px #fff,
    520px 1012px #fff, 1570px 437px #fff, 72px 1526px #fff, 1174px 1170px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 629px 1570px #fff, 78px 683px #fff, 400px 1958px #fff,
    368px 5px #fff, 1230px 526px #fff, 837px 470px #fff, 1153px 1282px #fff,
    1882px 1148px #fff, 1629px 807px #fff, 1357px 202px #fff, 555px 1697px #fff,
    1510px 133px #fff, 765px 1166px #fff, 483px 440px #fff, 1141px 1798px #fff,
    407px 592px #fff, 512px 583px #fff, 1198px 43px #fff, 1517px 776px #fff,
    1024px 685px #fff, 1398px 500px #fff, 933px 738px #fff, 54px 778px #fff,
    1097px 619px #fff, 66px 834px #fff, 527px 1998px #fff, 720px 1490px #fff,
    729px 1942px #fff, 964px 399px #fff, 1763px 1906px #fff, 1641px 1031px #fff,
    928px 1255px #fff, 492px 1641px #fff, 1562px 1998px #fff, 900px 369px #fff,
    712px 941px #fff, 1582px 979px #fff, 1284px 457px #fff, 231px 1307px #fff,
    876px 69px #fff, 1083px 155px #fff, 1917px 323px #fff, 1611px 1183px #fff,
    1764px 1967px #fff, 57px 1232px #fff, 1792px 768px #fff, 219px 1433px #fff,
    233px 1983px #fff, 461px 158px #fff, 216px 1136px #fff, 909px 401px #fff,
    1973px 1825px #fff, 901px 1616px #fff, 617px 326px #fff, 184px 1503px #fff,
    1572px 1265px #fff, 709px 809px #fff, 1107px 134px #fff, 171px 346px #fff,
    14px 861px #fff, 1231px 800px #fff, 336px 1784px #fff, 1409px 542px #fff,
    201px 268px #fff, 798px 1254px #fff, 1053px 90px #fff, 653px 1126px #fff,
    117px 1510px #fff, 1020px 1699px #fff, 969px 447px #fff, 764px 690px #fff,
    332px 753px #fff, 988px 282px #fff, 1092px 944px #fff, 1166px 427px #fff,
    1573px 689px #fff, 863px 1975px #fff, 1959px 1983px #fff, 1522px 1370px #fff,
    67px 38px #fff, 1996px 223px #fff, 146px 1431px #fff, 114px 465px #fff,
    363px 1651px #fff, 892px 1111px #fff, 611px 996px #fff, 1664px 630px #fff,
    63px 834px #fff, 8px 1136px #fff, 554px 123px #fff, 822px 760px #fff,
    423px 42px #fff, 1229px 536px #fff, 234px 1905px #fff, 1218px 937px #fff,
    134px 918px #fff, 836px 15px #fff, 96px 402px #fff, 654px 881px #fff,
    726px 1309px #fff, 814px 1625px #fff, 1433px 1636px #fff, 421px 574px #fff,
    200px 1976px #fff, 1888px 1287px #fff, 639px 1111px #fff, 1502px 1208px #fff,
    1489px 1226px #fff, 1731px 1714px #fff, 1865px 1055px #fff,
    1946px 1256px #fff, 1233px 747px #fff, 73px 1408px #fff, 235px 2000px #fff,
    1480px 932px #fff, 967px 824px #fff, 662px 1146px #fff, 344px 522px #fff,
    967px 494px #fff, 176px 220px #fff, 1715px 1042px #fff, 347px 1007px #fff,
    1603px 10px #fff, 271px 101px #fff, 1412px 1943px #fff, 340px 1184px #fff,
    63px 1793px #fff, 1461px 1235px #fff, 339px 1024px #fff, 708px 1741px #fff,
    1833px 1678px #fff, 1393px 577px #fff, 1236px 1089px #fff,
    1672px 1718px #fff, 1363px 466px #fff, 1209px 1632px #fff, 1614px 264px #fff,
    1597px 680px #fff, 76px 1339px #fff, 1029px 1579px #fff, 1413px 1119px #fff,
    1359px 924px #fff, 1400px 1293px #fff, 410px 542px #fff, 1295px 364px #fff,
    554px 890px #fff, 762px 61px #fff, 1732px 188px #fff, 852px 401px #fff,
    1017px 1817px #fff, 1758px 173px #fff, 1951px 1306px #fff,
    1716px 1294px #fff, 1688px 1358px #fff, 1443px 21px #fff, 1836px 1290px #fff,
    562px 1345px #fff, 1042px 1748px #fff, 1980px 281px #fff, 1152px 930px #fff,
    1644px 675px #fff, 1661px 919px #fff, 1155px 872px #fff, 1027px 1281px #fff,
    45px 186px #fff, 1684px 1417px #fff, 420px 1786px #fff, 1690px 1795px #fff,
    1452px 648px #fff, 430px 1717px #fff, 1969px 804px #fff, 1760px 1246px #fff,
    1779px 1932px #fff, 1873px 1908px #fff, 1293px 230px #fff, 406px 86px #fff,
    1935px 793px #fff, 1502px 449px #fff, 166px 1791px #fff, 1153px 1103px #fff,
    1724px 445px #fff, 1014px 1823px #fff, 676px 1069px #fff, 1912px 1669px #fff,
    1169px 316px #fff, 1408px 645px #fff, 233px 893px #fff, 1167px 587px #fff,
    1957px 1161px #fff, 628px 815px #fff, 1347px 719px #fff, 1931px 1062px #fff,
    1428px 1333px #fff, 353px 1701px #fff, 1329px 1398px #fff, 1857px 984px #fff,
    520px 1012px #fff, 1570px 437px #fff, 72px 1526px #fff, 1174px 1170px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 917px 302px #fff, 1242px 779px #fff, 1195px 1362px #fff,
    1336px 871px #fff, 22px 701px #fff, 1700px 1841px #fff, 693px 1613px #fff,
    488px 285px #fff, 309px 563px #fff, 1156px 1501px #fff, 1890px 1441px #fff,
    1117px 462px #fff, 1924px 1231px #fff, 969px 90px #fff, 1178px 1394px #fff,
    1693px 1866px #fff, 720px 1205px #fff, 1093px 1444px #fff, 636px 1135px #fff,
    1821px 505px #fff, 1666px 798px #fff, 682px 572px #fff, 492px 1670px #fff,
    561px 301px #fff, 995px 1167px #fff, 1129px 282px #fff, 648px 373px #fff,
    1891px 994px #fff, 884px 419px #fff, 1575px 163px #fff, 336px 604px #fff,
    1097px 902px #fff, 1577px 1846px #fff, 793px 1581px #fff, 382px 1926px #fff,
    601px 1067px #fff, 1496px 1590px #fff, 810px 1284px #fff, 259px 1295px #fff,
    1801px 327px #fff, 510px 275px #fff, 1548px 1489px #fff, 921px 1155px #fff,
    460px 1440px #fff, 710px 322px #fff, 1658px 1853px #fff, 1797px 520px #fff,
    1515px 447px #fff, 1168px 789px #fff, 1053px 448px #fff, 1915px 1308px #fff,
    730px 1568px #fff, 487px 823px #fff, 1770px 1257px #fff, 162px 464px #fff,
    1248px 403px #fff, 1108px 103px #fff, 1828px 1143px #fff, 1818px 1950px #fff,
    1036px 1932px #fff, 1735px 1659px #fff, 949px 478px #fff, 245px 1786px #fff,
    1199px 1116px #fff, 1476px 1136px #fff, 274px 1706px #fff,
    1836px 1872px #fff, 1467px 1758px #fff, 647px 190px #fff, 700px 368px #fff,
    1503px 1159px #fff, 1034px 1333px #fff, 288px 615px #fff, 1390px 603px #fff,
    1686px 1294px #fff, 239px 1655px #fff, 1415px 665px #fff, 25px 1718px #fff,
    1034px 270px #fff, 429px 1971px #fff, 1476px 1945px #fff, 47px 616px #fff,
    1258px 654px #fff, 14px 1930px #fff, 712px 1170px #fff, 885px 1273px #fff,
    140px 930px #fff, 1140px 834px #fff, 395px 1629px #fff, 737px 1095px #fff,
    1321px 1860px #fff, 651px 1387px #fff, 1381px 1138px #fff,
    1775px 1120px #fff, 186px 1908px #fff, 1176px 1215px #fff,
    1907px 1710px #fff, 287px 1553px #fff, 1992px 1606px #fff, 744px 323px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 917px 302px #fff, 1242px 779px #fff, 1195px 1362px #fff,
    1336px 871px #fff, 22px 701px #fff, 1700px 1841px #fff, 693px 1613px #fff,
    488px 285px #fff, 309px 563px #fff, 1156px 1501px #fff, 1890px 1441px #fff,
    1117px 462px #fff, 1924px 1231px #fff, 969px 90px #fff, 1178px 1394px #fff,
    1693px 1866px #fff, 720px 1205px #fff, 1093px 1444px #fff, 636px 1135px #fff,
    1821px 505px #fff, 1666px 798px #fff, 682px 572px #fff, 492px 1670px #fff,
    561px 301px #fff, 995px 1167px #fff, 1129px 282px #fff, 648px 373px #fff,
    1891px 994px #fff, 884px 419px #fff, 1575px 163px #fff, 336px 604px #fff,
    1097px 902px #fff, 1577px 1846px #fff, 793px 1581px #fff, 382px 1926px #fff,
    601px 1067px #fff, 1496px 1590px #fff, 810px 1284px #fff, 259px 1295px #fff,
    1801px 327px #fff, 510px 275px #fff, 1548px 1489px #fff, 921px 1155px #fff,
    460px 1440px #fff, 710px 322px #fff, 1658px 1853px #fff, 1797px 520px #fff,
    1515px 447px #fff, 1168px 789px #fff, 1053px 448px #fff, 1915px 1308px #fff,
    730px 1568px #fff, 487px 823px #fff, 1770px 1257px #fff, 162px 464px #fff,
    1248px 403px #fff, 1108px 103px #fff, 1828px 1143px #fff, 1818px 1950px #fff,
    1036px 1932px #fff, 1735px 1659px #fff, 949px 478px #fff, 245px 1786px #fff,
    1199px 1116px #fff, 1476px 1136px #fff, 274px 1706px #fff,
    1836px 1872px #fff, 1467px 1758px #fff, 647px 190px #fff, 700px 368px #fff,
    1503px 1159px #fff, 1034px 1333px #fff, 288px 615px #fff, 1390px 603px #fff,
    1686px 1294px #fff, 239px 1655px #fff, 1415px 665px #fff, 25px 1718px #fff,
    1034px 270px #fff, 429px 1971px #fff, 1476px 1945px #fff, 47px 616px #fff,
    1258px 654px #fff, 14px 1930px #fff, 712px 1170px #fff, 885px 1273px #fff,
    140px 930px #fff, 1140px 834px #fff, 395px 1629px #fff, 737px 1095px #fff,
    1321px 1860px #fff, 651px 1387px #fff, 1381px 1138px #fff,
    1775px 1120px #fff, 186px 1908px #fff, 1176px 1215px #fff,
    1907px 1710px #fff, 287px 1553px #fff, 1992px 1606px #fff, 744px 323px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
*/
